<!DOCTYPE html>
<html>
<head>
  <title>Result</title>
</head>
<body>
  <h1>Result</h1>
  <p><%= amount %> <%= currency_from %> = <%= result %> <%= currency_to %></p>
  <p><a href="/">Convert another currency</a></p>
</body>
</html>
